@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');
@import "tailwindcss";

@theme {
  --color-brand: #64ffda;
  --color-brandHover: #52e0c4;
  --color-darkBg: #0a192f;
  --font-poppins: "Poppins", sans-serif;
}

@layer base {
  body {
    @apply bg-linear-to-br from-[#0f2027] via-[#203a43] to-[#2c5364] text-white min-h-screen font-poppins m-0 p-0 box-border;
  }
}